table {
    border-collapse: collapse;
    width: 100%;
    padding: 10px;
    background-color: rgb(212, 212, 212);  
    border: 1px solid rgb(82, 82, 82) ;
}
tr{
    border: 1px solid rgb(82, 82, 82) ;
}
tr:hover{
   background-color:#79cbff ;
}
th, td {
   
    text-align: left;
    padding: 8px;
}
.rate {
  border: 1px solid #cccccc;
  float: left;
  height: 46px;
  padding: 0 10px;
}

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before { content: '★ '; }
.rate > input:checked ~ label { color: #ffc700; }
.rate:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label { color: #ffc400; }
.rate > input:checked + label:hover, .rate > input:checked + label:hover ~ label, .rate > input:checked ~ label:hover, .rate > input:checked ~ label:hover ~ label, .rate > label:hover ~ input:checked ~ label { color: #c59b08; }

#des{
    margin: 0 auto;
    width: 30%;

}