<br>
Search:
<input type="text" [(ngModel)]="searchText" placeholder="Enter query"><br><br>
<table id="table1" class="table table-bordered table-hover table-striped">
<tr>
    <th (click)="sortTable(0)">#</th>
    <th (click)="sortTable(1)">First Name</th>
    <th (click)="sortTable(2)">Last Name</th>
    <th (click)="sortTable(3)">Email Id</th>
    <th (click)="sortTable(4)">Is Active?</th>
    <th (click)="sortTable(5)">Date Created</th>
    <th (click)="sortTable(6)">Date Updated</th>
</tr>
<tr *ngFor="let rec of records | searchText:searchText" >
    <td>{{ rec.id }}</td>
    <td>{{ rec.firstName }}</td>
    <td>{{ rec.lastName }}</td>
    <td>{{ rec.email }}</td>
    <td>{{ rec.isActive }}</td>
    <td>{{ rec.dateCreated }}</td>
    <td>{{ rec.dateUpdated }}</td>
</tr>
</table>    